---
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { type Lang } from "@/i18n/utils";

interface Props {
  title: string;
  description: string;
  lang: Lang;
  ogImage?: string;
  canonicalUrl?: string;
}

const { title, description, lang, ogImage, canonicalUrl } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  lang={lang}
  ogImage={ogImage}
  canonicalUrl={canonicalUrl}
>
  <Header lang={lang} />
  <main>
    <slot />
  </main>
  <Footer lang={lang} />
</BaseLayout>
